html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: 'Allerta Stencil';
}

div {
  cursor: pointer;
  margin: auto;
  font-size: 10vmin;
  font-weight: 300;
  transition: font-weight 1s ease-in-out;
  transition: font-size 3s ease-in-out;
  transition: color 0.5s ease-in-out;
}

div22 {
  cursor: pointer;
  margin: auto;
  font-size: 10vmin;
  font-weight: 300;
  transition: color 1s ease-in-out;
}

div22:hover {
  color: #ff7d74;
}

div:hover {
  font-weight: 1000;
}

div:hover {
  font-size: 15vmin;
}

div:hover {
  color: #5c8bff;
}
