html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: "Allison";
}

div {
  cursor: pointer;
  margin: auto;
  font-size: 5vmin;
  font-weight: 300;
  transition: font-weight 1s ease-in-out;
  transition: font-size 2s ease-in-out;
}

div:hover {
  font-weight: 1000;
}

div:hover {
  font-size: 24vmin;
}
